<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="payonline.paymentSDK" type="PayOnline.PaymentSDK.Configuration.ServiceConfigurationSection, PayOnline.PaymentSDK, Version=1.0.0.*, Culture=neutral" />
  </configSections>

  <payonline.paymentSDK>
    <operationAddresses
      base="https://secure.payonlinesystem.local/payment/"
      auth="transaction/auth/?Version=101"
      threeDS="transaction/auth/3ds/"
      complete="transaction/complete/"
      rebill="transaction/rebill/"
      void="transaction/void/?Version=101"
      refund="transaction/refund/"
      search="search/"
      list="transaction/list/"
    />
  </payonline.paymentSDK>
  
</configuration>